doctype html
html(lang="en")
  head
    title Plum Recipes
  body
    h1 Plum Recipes

    if recipes.length > 0
      p Here are some recipes:
      ul
        each recipe in recipes
          li #{recipe.name}
    else
      p There are no recipes
