{% extends "template.njk" %}

{% block pageTitle %}Home - Plum recipes{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl">Recipes</h1>

  {% if recipes | length %}
    <p class="govuk-body">Here are some recipes:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for recipe in recipes %}
        <li>{{ recipe.name }}</li>
      {% endfor %}
    </ul>

  {% else %}
    <p class="govuk-body">There are no recipes</p>
  {% endif %}

{% endblock %}
